<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Some website</title>


</head>

<body>
  <h1>fun with lists</h1>
  {{#each messages}}
  <div>{{this}}</div>
  {{/each}}
 {{> footer }}
</body>

</html>